<module>
  <name>dashboard</name>
  <url>dashboard</url>
  <type>back-end</type>
  <actions>
    <action url="customers" page="customers" method="showCustomers" script="customers.groovy"/>
    <action url="customers/info"  method="getCustomerInfo" script="customers.groovy"/>
    <action url="prospects" page="prospects" method="showProspects" script="prospects.groovy"/>
    <action url="projects" page="projects" method="showProjects" script="projects.groovy"/>
    <action url="projects/info"  method="getProjectInfo" script="projects.groovy"/>
    <action url="projects/bill"  method="getProjectBill" script="projects.groovy"/>
    <action url="projects/documents/save"  method="saveDocuments" script="projects.groovy"/>
    <action url="projects/documents/download"  method="downloadDocument" script="projects.groovy"/>
    <action url="projects/description/update"  method="updateProjectDescription" script="projects.groovy"/>
    <action url="projects/comments/create"  method="addComment" script="projects.groovy"/>
    <action url="projects/priority/update"  method="updateProjectPriority" script="projects.groovy"/>
    <action url="projects/tasks/update"  method="updateTask" script="projects.groovy"/>
    <action url="projects/tasks/open"  method="openTask" script="projects.groovy"/>
    <action url="messages" page="messages" method="showMessages"/>
    <action url="messages/info"  method="getMessageInfo"/>
    <action url="support"  page="support" method="showTickets" script="support.groovy"/>
    <action url="support/tickets/open"  method="openTicket" script="support.groovy"/>
    <action url="support/tickets/info"  method="getTicketInfo" script="support.groovy"/>
    <action url="support/tickets/comment"  method="addTicketComment" script="support.groovy"/>
    <action url="support/tickets/close"  method="closeTicket" script="support.groovy"/>
    <action url="tickets/priority/update"  method="updateTicketPriority" script="support.groovy"/>
    <action url="tickets/progression/update"  method="updateTicketProgression" script="support.groovy"/>
    <action url="billing"  page="billing" method="showBills" script="billing.groovy"/>
    <action url="billing/info"  method="getBillInfo" script="billing.groovy"/>
    <action url="services" page="services" method="showServices"/>
  </actions>
  
  <menus>
	<menu name="main">
		<menuItem label="Dashboard" icon="television"/>
		<menuItem label="Vos Projets" url="projects" icon="briefcase"/>
		<menuItem label="Vos Clients" url="customers" icon="address-book"/>
		<menuItem label="Vos Prospects" url="prospects" icon="address-card"/>
		<menuItem label="Messagerie" url="messages" icon="envelope-o"/>
		<menuItem label="Nos Services" url="services" icon="ticket"/>
		<menuItem label="Assistance" url="support" icon="question-circle-o"/>
		<menuItem label="Facturation" url="billing" icon="money"/>
	</menu>
  </menus>
  
</module>