<module>
	<name>users</name>
	<url>users</url>
	<type>back-end</type>
	<actions>
		<action  url="login"  method="login"/>
		<action  url="account" page="account"/>
		<action  url="password/change"  method="changePassword"/>
		<action  url="password/recover"  method="recoverPassword"/>
		<action  url="logout"  method="logout"/>
	</actions>
</module>